{
  "root": true,
  "extends": [
    "eslint:recommended",
    "eslint-config-airbnb-base",
    // plugin
    "plugin:eslint-comments/recommended",
    "plugin:promise/recommended",
    "plugin:import/recommended",
    "plugin:react/recommended",
    "plugin:jsx-a11y/recommended",
    // prettier
    "plugin:prettier/recommended",
    "prettier",
    "prettier/react"
  ],
  "plugins": ["react-hooks"],
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "rules": {
    "class-methods-use-this": 0,
    "no-useless-constructor": 0,
    // import
    "import/prefer-default-export": [0],
    "import/order": [
      2,
      {
        "newlines-between": "always",
        "alphabetize": {
          "order": "asc",
          "caseInsensitive": true
        }
      }
    ],
    "import/extensions": [
      1,
      {
        "js": "never",
        "json": "always"
      }
    ],
    // eslint-comment
    "eslint-comments/disable-enable-pair": [
      2,
      {
        "allowWholeFile": true
      }
    ],
    // react
    "react/self-closing-comp": 2,
    // jsx-a11y
    "jsx-a11y/anchor-is-valid": [
      "error",
      {
        "components": ["Link"],
        "specialLink": ["hrefLeft", "hrefRight"],
        "aspects": ["invalidHref", "preferButton"]
      }
    ]
  },
  "overrides": [
    {
      "files": ["**/*.ts?(x)"],
      "extends": [
        "plugin:@typescript-eslint/eslint-recommended",
        "plugin:@typescript-eslint/recommended",
        "plugin:import/typescript",
        "prettier/@typescript-eslint"
      ],
      "rules": {
        "@typescript-eslint/interface-name-prefix": "off",
        "@typescript-eslint/explicit-function-return-type": "off",
        "@typescript-eslint/no-explicit-any": "off"
      },
      "parserOptions": {
        "warnOnUnsupportedTypeScriptVersion": true
      },
      "settings": {
        "import/resolver": {
          "typescript": {
            "alwaysTryTypes": true
          }
        }
      }
    },
    {
      "files": ["**/*.tsx"],
      "rules": {
        "react/prop-types": 0
      }
    },
    {
      "files": ["**/*.d.ts"],
      "rules": {
        "spaced-comment": [2, "always", { "markers": ["/ <reference"] }]
      }
    },
    {
      "files": ["**/*.{test,spec}.{js,ts}"],
      "extends": ["plugin:jest/recommended"],
      "rules": {
        "import/no-extraneous-dependencies": [
          "error",
          {
            "devDependencies": true
          }
        ]
      }
    }
  ]
}
